/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.footer-social-media-link:not(:last-child)::after {
  content: "-";
  margin: 0 5px;
}

.footer-social-media-link:not(:last-child)::after:hover {
  text-decoration: none;
}
