/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/** Custom Components **/
.footer-social-media-link:not(:last-child)::after {
  content: "-";
  margin: 0 5px;
}

.footer-social-media-link:not(:last-child)::after:hover {
  text-decoration: none;
}

#introduction-section::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, .5);
}

.truncate-multiple-lines {
  --line-height: 1.2em;
  overflow: hidden;
  position: relative;
  line-height: var(--line-height);
  max-height: calc(var(--line-height) * 6);
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.truncate-multiple-lines::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.truncate-multiple-lines::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;

  @apply bg-white-light;
}

/** Libraries Overrides **/
.slick-track {
  margin-left: inset !important;
}
